Weapon((
 render: (
  name: "Elven broadsword",
  texture_path: "sprites/item/elven_broadsword.png",
  texture_equiped_path: Some("sprites/item_equiped/heavy_sword.png"),
 ),
 damage: (
  kind: Slash,
  amount: (
   start: 8,
   end: 15,
  ),
  amount_multiplier: (
   multipliers: [
    (multiplier:90,attribute:Strength),
   ],
  ),
  hit_cost: (
   cost: 180,
   multiplier_inverted: (
    multipliers: [(multiplier:110,attribute:Dexterity)],
   ),
  ),
  hit_chance: (
   amount: 130,
   multiplier: (
    multipliers: [(multiplier:100,attribute:Dexterity)],
   ),
  ),
 ),
))