(
  floor: [
    "sprites/floor/mosaic_0.png",
    "sprites/floor/mosaic_1.png",
    "sprites/floor/mosaic_2.png",
    "sprites/floor/mosaic_3.png",
    "sprites/floor/mosaic_4.png",
    "sprites/floor/mosaic_5.png",
    "sprites/floor/mosaic_6.png",
    "sprites/floor/mosaic_7.png",
    "sprites/floor/mosaic_8.png",
    "sprites/floor/mosaic_9.png",
    "sprites/floor/mosaic_10.png",
    "sprites/floor/mosaic_11.png",
    "sprites/floor/mosaic_12.png",
    "sprites/floor/mosaic_13.png",
    "sprites/floor/mosaic_14.png",
    "sprites/floor/mosaic_15.png",
  ],
  wall: [
    "sprites/walls/cobalt_rock_1.png",
    "sprites/walls/cobalt_rock_2.png",
    "sprites/walls/cobalt_rock_3.png",
    "sprites/walls/cobalt_rock_4.png",
    "sprites/walls/cobalt_stone_1.png",
    "sprites/walls/cobalt_stone_2.png",
    "sprites/walls/cobalt_stone_3.png",
    "sprites/walls/cobalt_stone_4.png",
    "sprites/walls/cobalt_stone_5.png",
    "sprites/walls/cobalt_stone_6.png",
    "sprites/walls/cobalt_stone_7.png",
    "sprites/walls/cobalt_stone_8.png",
    "sprites/walls/cobalt_stone_9.png",
    "sprites/walls/cobalt_stone_10.png",
    "sprites/walls/cobalt_stone_11.png",
    "sprites/walls/cobalt_stone_12.png",
  ],
)