(
 render: (
  name: "Orc",
  texture_path: "sprites/actors/orc.png",
  texture_path_cosmetics: [],
 ),
 attributes: (
  list: {
   Inteligence: 8,
   Willpower: 7,
   Perception: 7,
   Toughness: 12,
   Dexterity: 11,
   Strength: 13,
  },
 ),
 protection: (
  amounts: [
   (
    kind: Blunt,
    amount_multiplier: (scale:100,multipliers:[(multiplier:100,attribute:Toughness)]),
    amount: 2,
   ),
   (
    kind: Pierce,
    amount_multiplier: (scale:100,multipliers:[(multiplier:100,attribute:Toughness)]),
    amount: 2,
   ),
   (
    kind: Slash,
    amount_multiplier: (scale:100,multipliers:[(multiplier:100,attribute:Toughness)]),
    amount: 2,
   ),
  ],
 ),
 resistance: (
  amounts: [
   (
    kind: Slash,
    percent: 5,
   ),
   (
    kind: Blunt,
    percent: 5,
   ),
   (
    kind: Pierce,
    percent: 5,
   ),
  ],
 ),
 evasion: (
  cost: (
   cost: 32,
   multiplier_inverted: (
    scale: 100,
    multipliers: [(multiplier:80,attribute:Dexterity)],
   ),
  ),
  chance: (
   amount: 20,
   multiplier: (
    scale: 100,
    multipliers: [(multiplier:100,attribute:Dexterity)],
   ),
  ),
 ),
 damage: (
  list: [
   (
    kind: Blunt,
    amount: (start:8,end:12),
    amount_multiplier: (scale:100,multipliers:[(multiplier:80,attribute:Strength)]),
    hit_cost: (cost:128,multiplier_inverted:(scale:100,multipliers:[(multiplier:80,attribute:Dexterity)])),
    hit_chance: (amount:128,multiplier:(scale:100,multipliers:[(multiplier:128,attribute:Dexterity)])),
   ),
  ],
 ),
 equipment_display: (
  items: {
   (OffHand, 0): (152, 48),
   (Finger, 1): (152, 88),
   (Finger, 0): (72, 88),
   (Neck, 0): (152, 8),
   (MainHand, 0): (72, 48),
  },
 ),
 inventory_capacity: 24,
)