Boots((
 render: (
  name: "Nimble boots",
  texture_path: "sprites/item/boots_4_green.png",
  texture_equiped_path: Some("sprites/item_equiped/middle_green.png"),
 ),
 defense: (
  protection: Some((
   amounts: [
    (kind:Blunt,amount_multiplier:(scale:100,multipliers:[]),amount:1),
    (kind:Pierce,amount_multiplier:(scale:100,multipliers:[]),amount:1),
    (kind:Slash,amount_multiplier:(scale:100,multipliers:[]),amount:1),
   ],
  )),
  resistance: Some((
   amounts: [
    (kind:Blunt,percent:1),
    (kind:Pierce,percent:1),
    (kind:Slash,percent:1),
   ],
  )),
 ),
 enchantment: (
  attributes: Some((
    list: {
     Dexterity: 5,
    },
   )),
 ),
))