[
  (
    entity: 0,
    components: [
      {
        "type": "bevy_roguelike_plugin::components::combat::Damage",
        "struct": {
          "kind": {
            "type": "bevy_roguelike_plugin::components::combat::DamageKind",
            "value": Slash,
          },
          "amount": {
            "type": "core::ops::range::Range<i32>",
            "value": (
              start: 5,
              end: 9,
            ),
          },
          "amount_multiplier": {
            "type": "bevy_roguelike_plugin::components::combat::Formula",
            "struct": {
              "multipliers": {
                "type": "hashbrown::set::HashSet<bevy_roguelike_plugin::components::combat::AttributeMultiplier>",
                "value": [
                  (
                    multiplier: 100,
                    attribute: Strength,
                  ),
                ],
              },
            },
          },
          "hit_cost": {
            "type": "bevy_roguelike_plugin::components::combat::ActionCost",
            "struct": {
              "cost": {
                "type": "i16",
                "value": 128,
              },
              "cost_multiplier": {
                "type": "bevy_roguelike_plugin::components::combat::Formula",
                "struct": {
                  "multipliers": {
                    "type": "hashbrown::set::HashSet<bevy_roguelike_plugin::components::combat::AttributeMultiplier>",
                    "value": [
                      (
                        multiplier: 100,
                        attribute: Dexterity,
                      ),
                    ],
                  },
                },
              },
            },
          },
          "hit_chance": {
            "type": "bevy_roguelike_plugin::components::combat::Rate",
            "struct": {
              "amount": {
                "type": "u8",
                "value": 90,
              },
              "multiplier": {
                "type": "bevy_roguelike_plugin::components::combat::Formula",
                "struct": {
                  "multipliers": {
                    "type": "hashbrown::set::HashSet<bevy_roguelike_plugin::components::combat::AttributeMultiplier>",
                    "value": [
                      (
                        multiplier: 110,
                        attribute: Dexterity,
                      ),
                    ],
                  },
                },
              },
            },
          },
        },
      },
      {
        "type": "bevy_roguelike_plugin::components::combat::Protection",
        "struct": {
          "amounts": {
            "type": "alloc::vec::Vec<bevy_roguelike_plugin::components::combat::Protect>",
            "list": [
              {
                "type": "bevy_roguelike_plugin::components::combat::Protect",
                "struct": {
                  "kind": {
                    "type": "bevy_roguelike_plugin::components::combat::DamageKind",
                    "value": Slash,
                  },
                  "amount_multiplier": {
                    "type": "bevy_roguelike_plugin::components::combat::Formula",
                    "struct": {
                      "multipliers": {
                        "type": "hashbrown::set::HashSet<bevy_roguelike_plugin::components::combat::AttributeMultiplier>",
                        "value": [
                          (
                            multiplier: 100,
                            attribute: Dexterity,
                          ),
                        ],
                      },
                    },
                  },
                  "amount": {
                    "type": "i32",
                    "value": 2,
                  },
                },
              },
            ],
          },
        },
      },
    ],
  ),
]